<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    {{!-- home css --}}
    {{!-- since we served up the public folder in express, we can reference like we are already inside the public
    directory --}}
    <link rel="stylesheet" href="./styles/home.css">
</head>

<body>
    <div class="home-background">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
            <a class="navbar-brand" href="#">Article Scraper</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Saved Articles</a>
                    </li>
                    <button id="get-news" type="button" class="btn btn-success">Get Latest News</button>
                </ul>
                <span class="navbar-text">
                    {{!-- ml allows me to put items on the right side of my nav bar --}}
                    <ul class="navbar-nav ml">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Logout</a>
                        </li>
                    </ul>
                </span>
            </div>
        </nav>
        <div class="jumbotron">
            <h2>Welcome to Article Scraper</h2>
            <h5>(grab the latest/hottest news about technology)</h5>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h1>test</h1>
        </div>
        <div class="card-body">
            <h2>test</h2>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h1>test</h1>
        </div>
        <div class="card-body">
            <h2>test</h2>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h1>test</h1>
        </div>
        <div class="card-body">
            <h2>test</h2>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <h1>test</h1>
        </div>
        <div class="card-body">
            <h2>test</h2>
        </div>
    </div>


    <!-- Modal -->
    <div id="numScraped" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    {{!-- links to our home javascript file --}}
    <script src="./js/home.js"></script>
</body>

</html>